<footer class="blog-footer" style="justify-content: center; text-align: center;">
    <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap.</a></p>
    <p>
    <p>Developer by<i class="fa fa-heart"></i> Ngọc Quân</p>
    </p>
</footer>